* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--color-copy);
}

body {
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.logo-studion {
    font-weight: 900;
    font-size: 2.375rem;
    text-transform: uppercase;
    text-align: right;
    line-height: 0.75ch;
    margin: 0;
  }
  
  .logo-studion a {
    text-decoration: none;
    color: #fff;
  }
  
  .logo-studion__subtitle {
    font-weight: 300;
    text-align: right;
    font-size: 0.875rem;
  }
