.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0.125rem solid #fff;
  border-radius: 10rem;
  color: var(--color-primary);
  background: unset;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s all ease;
  outline: none;
}

.btn a {
  text-decoration: none;
  color: unset;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional,
.btn--contact {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #000;
}

.btn--institutional:hover,
.btn--institutional:active,
.btn--institutional:focus {
  border-color: #000;
  background-color: #000;
  color: var(--color-primary);
}

.btn--contact:hover,
.btn--contact:active,
.btn--contact:focus {
  border-color: #fff;
  background-color: #000;
  color: var(--color-primary);
}

.btn--quote {
  font-weight: 900;
  border-color: #000;
  background: unset;
  color: #000;
}

.btn--quote:hover,
.btn--quote:active,
.btn--quote:focus {
  font-weight: 900;
  border-color: #000;
  background-color: #000;
  color: #fff;
}
