body {
  padding-top: 0rem;
}

.slider {
  background-color: #000;
  color: #fff;
}

.slider__prev-arrow,
.slider__next-arrow {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.3125rem solid #FFF9;
  border-right: unset;
  border-bottom: unset;
}

.slider__prev-arrow {
  left: 5vw;
  z-index: 1;
  transform: rotate(-45deg);
}

.slider__next-arrow {
  right: 5vw;
  transform: rotate(135deg);
}

.slider__prev-arrow::before,
.slider__next-arrow::before {
  content: "";
}

.slide {
  height: 90vh;
  min-height: 34rem;
  position: relative;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  top: 6.25rem;
  left: 50vw;
}

.slide__copy h3 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.slide__copy h2 {
  font-size: 6.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6.25rem;
  margin-top: 2rem;
}

.slide__copy span h2 {
  display: block;
}

#counter {
  display: grid;
  width: 100%;
  min-height: 12.5rem;
  background-color: var(--color-primary);
}

.counter__container {
  min-height: 20vh;
  padding: 4.375rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}

.counter__container h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
}

.counter__container small {
  font-size: 1rem;
}

.institutional {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  padding: 4.375rem;
  gap: 3.125rem;
}

.institutional__copy {
  position: relative;
}

.institutional__image {
  max-width: 570px;
  left: 0;
}

.institutional__copy h3 {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.institutional__copy h2 {
  font-size: 1.5625rem;
  font-weight: 800;
  margin: 1rem 2rem 0 0;
}

.institutional__copy p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}

.quote {
  background-image: url("../images/parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote__container {
  display: grid;
  align-items: center;
  justify-items: end;
  height: 100%;
  min-height: 80vh;
}

.quote__copy {
  height: 65vh;
  width: 40vw;
  position: relative;
  background-color: #fff;
  padding: 5rem 4rem;
  background-size: contain;
  text-transform: uppercase;
}

.quote__copy h3 {
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  line-height: 1.4375rem;
  max-width: 52ch;
}

.quote__copy h2 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 2rem 0;
  color: #000;
}

.quote__copy h2 {
  display: block;
}
