@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  --color-primary: #ffc500;
  --color-copy: #333333;
  --default-padding: 1rem;
  color: var(--color-copy);
}

body {
  padding-top: 6rem;
  margin: 0;
}

header,
main,
footer {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  width: 100vw;
  height: 6rem;
  padding: 0 15vw;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  font-size: 0.875rem;
  margin: 0 0 0 3rem;
  text-transform: uppercase;
}

.navbar__links a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-studion {
  font-weight: 900;
  font-size: 2.375rem;
  text-transform: uppercase;
  text-align: right;
  line-height: 0.75ch;
}

.logo-studion__subtitle {
  font-weight: 300;
  text-align: right;
  font-size: 0.875rem;
}

.copy--primary {
  color: var(--color-primary);
}

#slider {
  background-color: #000;
  color: #fff;
}

.slide {
  height: calc(90vh - 6rem);
  min-height: 34rem;
  position: relative;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  top: 6.25rem;
  left: 50vw;
}

.slide__copy h3 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.slide__copy h2 {
  font-size: 6.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 6.25rem;
  margin-top: 2rem;
}

.slide__copy span h2 {
  display: block;
}

.btn {
  cursor: pointer;
  padding: 1rem 2.5rem;
  border: 0.125rem solid #fff;
  border-radius: 10rem;
  color: var(--color-primary);
  background: unset;
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #000;
}

/* ------------------end of slider--------------------- */

#counter {
  display: grid;
  width: 100%;
  min-height: 12.5rem;
  background-color: var(--color-primary);
}

.counter__container {
  min-height: 20vh;
  padding: 4.375rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
}

.counter__container h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem;
  font-size: 2rem;
  margin: 0;
}

.counter__container small {
  font-size: 1rem;
}

/* ---------------end of last class--------------- */

.institutional {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  padding: 4.375rem;
  gap: 3.125rem;
}

.institutional__copy {
  position: relative;
}

.institutional__image {
  max-width: 570px;
  left: 0;
}

.institutional__copy h3 {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.institutional__copy h2 {
  font-size: 1.5625rem;
  font-weight: 800;
  margin: 1rem 2rem 0 0;
}

.institutional__copy p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}

.btn--institutional:hover,
.btn--institutional:active,
.btn--institutional:focus {
  border-color: #000;
  background-color: #000;
  color: var(--color-primary);
}

/* -------------------------end of section one--------------------------- */

.quote {
  background-image: url(./images/parallax.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote__container {
  display: grid;
  align-items: center;
  justify-items: end;
  height: 100%;
  min-height: 80vh;
}

.quote__copy {
  height: 65vh;
  width: 40vw;
  position: relative;
  background-color: #fff;
  padding: 5rem 4rem;
  background-size: contain;
  text-transform: uppercase;
}

.quote__copy h3 {
  font-size: 0.9375rem;
  font-weight: 600;
  letter-spacing: .1875rem;
  line-height: 1.4375rem;
  max-width: 52ch;
}

.quote__copy h2 {
  font-size: 5rem;
  line-height: 5rem;
  margin: 2rem 0;
  color: #000;
}

.quote__copy h2 {
  display: block;
}

.btn--quote {
  font-weight: 900;
  border-color: #000;
  background: unset;
  color: #000;
}

.btn--quote:hover,
.btn--quote:active,
.btn--quote:focus {
  font-weight: 900;
  border-color: #000;
  background-color: #000;
  color: #fff;
}

/* ---------------end of section two-------------------*/

footer {
  height: 40vh;
  padding: 7vh 15vw;
  background-color: #000;
  color: #fff;
}

.div__footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: "a b c" "d d d" "e e e";
}

footer h2 {
  margin: 0;
}

.grid-e {
  text-align: center;
}
